#content {
   background-color: rgb(30,35,40);
   color: rgb(206, 206, 206);
   padding: 24px 0 0 24px;
   font-size: xx-large;
}

#page {
   display: grid;
   grid-row-gap: 10px;
   grid-template-rows: auto auto 1fr;
   min-height: 100%;
}

#header {
   display: grid;
   grid-template-columns: 600px 20px;
   grid-template-rows: 40px auto;
   border-top-left-radius: 28px;
   border-bottom-left-radius: 28px;
   padding: 4px;
   background: linear-gradient(90deg, rgba(2555, 255, 255, .1), transparent);
}

#sub-title {
   padding-left: 12px;
   height: 39px;
}

.edit-btn {
   border: 1px solid transparent;
   width: 40px;
   height: 40px;
   border-radius: 20px;
   background-image: url("../../images/edit.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 65%;
   cursor: pointer;
}

.edit-btn:hover {
   animation: btn-hover .8s infinite;
   animation-direction: alternate;
}

@keyframes btn-hover {
   from { 
      border: 1px solid transparent;
   }
   to { 
      border: 1px solid rgba(70, 163, 255, .5);
   }
}

#new-topic {
   display: grid;
   grid-template-columns: 600px 20px;
   grid-template-rows: 40px auto;
   border-top-left-radius: 28px;
   border-bottom-left-radius: 28px;
   padding: 4px;
   background: linear-gradient(90deg, rgba(2555, 255, 255, .1), transparent);
}

/* #sub-desc {
   padding-left: 12px;
   min-height: 40px;
   font-size: 17px;
} */

.edit-subject-form {
   user-select: none;
   grid-area: modal;

   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 2fr auto;
   grid-column-gap: 40px;
   grid-template-areas: 'title title' 'desc desc' 'ok cancel';

   text-align: center;
   background-color: rgb(180, 180, 180);
   padding: 12px;
   border-radius: 6px;
   border: solid 2px #f2f7de;
}

.title {
    grid-area: title;
    height: 40px;
}

.desc {
    grid-area: desc;
    height: 40px;
}

#topics {
   font-size: 24px;
   line-height: 1.5em;
   position: relative;
   border-top-left-radius: 28px;
   padding: 20px 0 0 20px;
   background: linear-gradient(90deg, rgba(255, 255, 255, .1), transparent);
   overflow-x: hidden;
   overflow-y: auto;
}

#topics::-webkit-scrollbar {
   width: 10px;
}

#topics::-webkit-scrollbar-thumb {
   background-color: darkgray;
   outline: 1px solid slategray;
   border-radius: 5px;
}