#page {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: '. quiz-pane .';
}

#quiz-pane {
   grid-area: quiz-pane;
   grid-template-columns: 1fr;
   overflow-y: auto;
   padding: 6px 0;
}

#quiz-pane.results {
   display: grid;
   grid-template-rows: auto 1fr;
}

#quiz-pane.without-answer {
   display: grid;
   grid-template-rows: 1fr 1fr 48px;
   grid-template-areas: 'question' 'answer' 'controls';
   row-gap: 12px;
}

.without-answer > #controls {
   display: none;
}

#quiz-pane.with-answer {
   display: grid;
   grid-template-rows: 1fr 1fr 48px;
   grid-template-areas: 'question' 'answer' 'controls';
   row-gap: 12px;
}

#question {
   grid-area: question;
}

#answer {
   grid-area: answer;
}

.info {
   border-radius: 6px;
   border: 1px solid rgba(255, 255, 255, .1);
   background-color: rgba(255, 255, 255, .05);
   padding: 12px;
   font-size: 24px;
   color: #ffffffae;
   overflow-y: auto;
   text-wrap: wrap;
}

#controls {
   display: grid;
   grid-area: controls;
   border-radius: 6px;
   border: 1px solid rgba(255, 255, 255, .1);
   background-color: rgba(255, 255, 255, .05);
   grid-template-columns: 150px 1fr 150px;
   grid-template-areas: 'correct . incorrect';
}

.correct {
   grid-area: correct;
}

.incorrect {
   grid-area: incorrect;
}

#controls > .btn {
   width: 100px;
   background: linear-gradient(180deg, #FFFFFFAE 10px, #FFFFFF80);
   border: 1px solid transparent;
   border-radius: 6px;
   align-self: center;
   justify-self: center;
   text-align: center;
   padding: 4px;
   cursor: pointer;
   font-weight: bold;
   color: #000000BB;
}

#controls > .btn:hover {
   animation: pulse-border-blue .8s infinite;
   animation-direction: alternate;
}

#quiz-pane.results {
   display: grid;
   grid-template-rows: auto 1fr;
   row-gap: 12px;
   padding: 12px;
   background-color: rgba(255, 255, 255, .035);
   border-radius: 12px;
   font-size: 19px;
   margin: 12px;
}

#quiz-summary {
   display: grid;
   grid-template-columns: 1fr auto 1fr;
   grid-template-areas: '. info close';
}

#quiz-summary > .info {
   grid-area: info;
   color: #d1daddbf;
}

#quiz-summary > .close {
   grid-area: close;
   color: rgb(92 173 255);
   margin-left: auto;
   border: solid 1px rgb(92 173 255);
   border-radius: 50%;
   height: 24px;
   width: 24px;
   float: inline-end;
   text-align: center;
   line-height: 1.35em;
   cursor: pointer;
}

#question-list > .item {
   background-color: rgba(255,255,255,.05);
   padding-left: 6px;
   height: 30px;
   line-height: 1.7em;
   margin-bottom: 6px;
   border-left: solid 2px transparent;
}

#question-list > .item.correct {
   border-left: solid 2px green;
}

#question-list > .item.incorrect {
   border-left: solid 2px #9f2525;
}