#page {
   display: grid;
   grid-gap: 10px;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: 'subject-pane topic-pane question-pane';
   grid-template-rows: 1fr;
   padding: 10px 10px 0 10px;
}

#page .pane {
   background: linear-gradient(180deg, rgba(255, 255, 255, .1), transparent);
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
   border: solid 1px rgba(255, 255, 255, .035);
   border-bottom: none;
}

.pane .header {
   display: grid;
   grid-template-columns: 1fr auto 1fr;
   height: 24px;
}

.pane .header .left-line {
   height: 3px;
   margin: 6px 12px 0 6px;
   background: linear-gradient(270deg, #222 4px, transparent 4px, transparent 8px, #222 8px, transparent);
}

.pane .header .txt {
   color: #ddd;
}

.pane .header .right-line {
   height: 3px;
   margin: 6px 6px 0 12px;
   background: linear-gradient(90deg, #222 4px, transparent 4px, transparent 8px, #222 8px, transparent);
}

/*#region Subject Pane */

#subject-pane {
   grid-area: subject-pane;
   display: grid;
   grid-template-rows: auto auto 1fr;
   padding: 6px 6px 0 6px;
}

#subject-pane .controls {
   width: 100%;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   background: linear-gradient(90deg, transparent, rgb(30 35 40 / 25%), transparent);
   background-color: rgb(30 35 40 / 49);
}

#new-subject-control {
   display: grid;
   grid-template-columns: 1fr auto;
   margin: 6px;
}

#new-subject {
   height: 36px;
   border-top-left-radius: 6px;
   font-size: 18px;
   padding-left: 6px;
   border: none;
   outline: none;
}

#new-subject-control .btn {
   border-top-right-radius: 6px;
   max-height: 36px;
   background-color: #ffffff;
   padding: 0 6px;
   width: 24px;
}

#new-subject-control .btn:hover {
    animation: btn-new-hover .6s infinite;
    animation-direction: alternate;
}

#subject-list {
    background-color: #1e2328;
    color: #aab1b5;
    padding-left: 6px;
    border: solid 1px rgba(255, 255, 255, .035);
}

#subject-list span {
   color: rgb(92 173 255);
}

#subject-list .item {
   display: grid;
   grid-template-columns: auto 1fr;
   font-size: 18px;
   border-left: solid 1px transparent;
   padding-left: 7px;
   cursor: pointer;
   padding: 6px 0 6px 7px;
}

#subject-list .item:hover {
   background: linear-gradient(90deg, #252a30, transparent);
   animation: item-hover .8s infinite;
   animation-direction: alternate;
}

@keyframes item-hover {
   from {
      border-left: solid 1px transparent;
   }
   to {
      border-left: solid 1px rgba(70, 163, 255, .8);
   }
}

#subject-list .item-selected {
   display: grid;
   grid-template-columns: auto 1fr 24px 36px;
   font-size: 18px;
   border-left: solid 3px rgba(70, 163, 255, .8);
   padding: 6px 0 6px 5px;
   background: linear-gradient(90deg, #272e34, transparent);
   cursor: default;
}

#subject-list .item-editing {
   display: grid;
   grid-template-columns: 1fr 36px;
   font-size: 18px;
   border-left: solid 3px rgba(70, 163, 255, .8);
   padding: 0;
   background: linear-gradient(90deg, #272e34, transparent);
   cursor: default;
   margin-right: 6px;
}

#edit-subject {
   border: none;
   outline: none;
   padding: 6px;
   font-size: 18px;
   color: #000;
}

#subject-list .item-editing .btn {
   background-color: #FFFF;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
}

#subject-list .item-editing .btn:hover {
   animation: btn-item-hover .6s infinite;
   animation-direction: alternate;
}

/*#endregion*/

/*#region Topic Pane */

#topic-pane {
   grid-area: topic-pane;
   display: grid;
   grid-template-rows: auto auto 1fr;
   padding: 6px 6px 0 6px;
}

#topic-pane .controls {
   width: 100%;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   background: linear-gradient(90deg, transparent, rgb(30 35 40 / 25%), transparent);
   background-color: rgb(30 35 40 / 49);
}

#new-topic-control {
   display: grid;
   grid-template-columns: 1fr auto;
   margin: 6px;
}

#new-topic {
   height: 36px;
   border-top-left-radius: 6px;
   font-size: 18px;
   padding-left: 6px;
   border: none;
   outline: none;
}

#new-topic-control .btn {
   border-top-right-radius: 6px;
   max-height: 36px;
   background-color: #ffffff;
   padding: 0 6px;
   width: 24px;
}

#new-topic-control .btn:hover {
    animation: btn-new-hover .6s infinite;
    animation-direction: alternate;
}

@keyframes btn-new-hover {
   from {
      border-left: solid 1px transparent;
      box-shadow: inset 0 1px transparent, inset -1px -1px transparent;
   }
   to {
      border-left: solid 1px rgba(70, 163, 255, .8);
      box-shadow: inset 0 1px rgba(70, 163, 255, .8), inset -1px -1px rgba(70, 163, 255, .8);
   }
}

#topic-list {
    background-color: #1e2328;
    color: #aab1b5;
    padding-left: 6px;
    border: solid 1px rgba(255, 255, 255, .035);
}

#topic-list .item {
   display: grid;
   grid-template-columns: 24px auto;
   font-size: 18px;
   border-left: solid 1px transparent;
   padding-left: 7px;
   cursor: pointer;
   padding: 6px 0 6px 7px;
}

#topic-list .item:hover {
   background: linear-gradient(90deg, #252a30, transparent);
   animation: item-hover .8s infinite;
   animation-direction: alternate;
}

#topic-list .item-selected {
   display: grid;
   grid-template-columns: 24px 1fr 24px 36px;
   font-size: 18px;
   border-left: solid 3px rgba(70, 163, 255, .8);
   padding: 6px 0 6px 5px;
   background: linear-gradient(90deg, #272e34, transparent);
   cursor: default;
}

#topic-list .item-editing {
   display: grid;
   grid-template-columns: 1fr 36px;
   font-size: 18px;
   border-left: solid 3px rgba(70, 163, 255, .8);
   padding: 0;
   background: linear-gradient(90deg, #272e34, transparent);
   cursor: default;
   margin-right: 6px;
}

.focus-btn {
   border-radius: 6px;
   border: 1px #aaaba4 solid;
   width: 15px;
   height: 16px;
   margin-top: 2px;
   cursor: pointer;
   text-align: center;
   font-size: 32px;
   color: rgb(92 173 255);
   line-height: .95em;
}

#edit-topic {
   border: none;
   outline: none;
   padding: 6px;
   font-size: 18px;
   color: #000;
}

#topic-list .item-editing .btn {
   background-color: #FFFF;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
}

#topic-list .item-editing .btn:hover {
   animation: btn-item-hover .6s infinite;
   animation-direction: alternate;
}

/*#endregion*/

/*#region Question Pane */

#question-pane {
   grid-area: question-pane;
   display: grid;
   grid-template-rows: auto auto 1fr;
   padding: 6px 6px 0 6px;
}

#question-pane .controls {
   width: 100%;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   background: linear-gradient(90deg, transparent, rgb(30 35 40 / 25%), transparent);
   background-color: rgb(30 35 40 / 49);
}

#new-question-control {
   display: grid;
   grid-template-columns: 1fr auto;
   margin: 6px;
}

#new-question {
   height: 36px;
   border-top-left-radius: 6px;
   font-size: 18px;
   padding-left: 6px;
   border: none;
   outline: none;
}

#new-question-control .btn {
   border-top-right-radius: 6px;
   max-height: 36px;
   background-color: #ffffff;
   padding: 0 6px;
   width: 24px;
}

#new-question-control .btn:hover {
    animation: btn-new-hover .6s infinite;
    animation-direction: alternate;
}

#question-list {
    background-color: #1e2328;
    color: #aab1b5;
    padding-left: 6px;
    border: solid 1px rgba(255, 255, 255, .035);
}

#question-list .item {
   font-size: 18px;
   border-left: solid 1px transparent;
   padding-left: 7px;
   cursor: pointer;
   padding: 6px 0 6px 7px;
}

#question-list .item:hover {
   background: linear-gradient(90deg, #252a30, transparent);
   animation: item-hover .8s infinite;
   animation-direction: alternate;
}

#question-list .item-selected {
   display: grid;
   grid-template-columns: 1fr 24px 36px;
   font-size: 18px;
   border-left: solid 3px rgba(70, 163, 255, .8);
   padding: 6px 0 6px 5px;
   background: linear-gradient(90deg, #272e34, transparent);
   cursor: default;
}

#question-list .item-editing {
   display: grid;
   grid-template-columns: 1fr 36px;
   font-size: 18px;
   border-left: solid 3px rgba(70, 163, 255, .8);
   padding: 0;
   background: linear-gradient(90deg, #272e34, transparent);
   cursor: default;
   margin-right: 6px;
}

#question-topic {
   border: none;
   outline: none;
   padding: 6px;
   font-size: 18px;
   color: #000;
}

#question-list .item-editing .btn {
   background-color: #FFFF;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
}

#question-list .item-editing .btn:hover {
   animation: btn-item-hover .6s infinite;
   animation-direction: alternate;
}

#modal-bg {
   background-color: transparent;
}

.question-modal-bg {
    display: grid;
    grid-template-areas: '.' 'modal';
    grid-template-rows: 98px 1fr;
}

.question-modal {
   grid-area: modal;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: '. question-form .';
   grid-template-rows: 1fr;
   background: linear-gradient(90deg, rgb(30,35,40), rgb(0, 0, 0), rgb(30,35,40));
}

.question-form {
   grid-area: question-form;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr 1fr auto;
   row-gap: 6px;
   padding: 6px;
   font-size: 20px;
}

#short-phrase {
   font-size: inherit;
   border: none;
   outline: none;
   padding: 4px;
   border-radius: 4px;
}

#phrase {
   resize: none;
   font-size: inherit;
   border: none;
   outline: none;
   padding: 4px;
   border-radius: 4px;
   overflow-y: auto;
}

#answer {
   resize: none;
   font-size: inherit;
   border: none;
   outline: none;
   padding: 4px;
   border-radius: 4px;
   overflow-y: auto;
}

.question-controls {
   font-size: inherit;
   display: grid;
   grid-template-columns: auto 1fr auto;
   grid-template-areas: 'save . cancel';
}

.question-controls > .btn {
   width: 100px;
   background: linear-gradient(180deg, #FFFFFFAE 10px, #FFFFFF80);
   border: 1px solid transparent;
   border-radius: 6px;
   align-self: center;
   justify-self: center;
   text-align: center;
   padding: 4px;
   cursor: pointer;
   font-weight: bold;
   color: #000000BB;
   margin-bottom: 12px;
}

.question-controls > .btn.save {
   grid-area: save;
}

.question-controls > .btn.cancel {
   grid-area: cancel;
}

/*#endregion*/
