#content {
   
   background-color: rgb(30,35,40);
   color: rgb(206, 206, 206);
   padding: 24px 0 0 24px;
   font-size: xx-large;
}

#page {
   display: grid;
   grid-row-gap: 10px;
   grid-template-rows: auto 1fr;
   min-height: 100%;
}

#header {
   display: flex;
   border-top-left-radius: 28px;
   border-bottom-left-radius: 7px;
   padding: 4px;
   background: linear-gradient(90deg, rgba(255, 255, 255, .1), transparent);
}

#header input {
   border-radius: 5px;
   border-top-left-radius: 20px;
   border-style: none;
   outline: none;
   font-size: 20px;
   padding: 0 0 0 20px;
   margin: 6px;
   width: 865px;
   background-color: #DDD;
   height: 40px;
}

.create-btn {
   background-image: url("../../images/plus.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 80%;
   cursor: pointer;
   border: 1px solid transparent;
   border-radius: 25px;
   width: 40px;
   height: 40px;
   margin-top: 5px;
}

.create-btn:hover {
   animation: btn-hover .8s infinite;
   animation-direction: alternate;
}

@keyframes btn-hover {
   from { 
      border: 1px solid transparent;
   }
   to { 
      border: 1px solid rgb(14, 143, 32)
   }
}

#subjects {
   font-size: 24px;
   line-height: 1.5em;
   position: relative;
   border-top-left-radius: 5px;
   padding: 0 0 0 20px;
   background: linear-gradient(90deg, rgba(255, 255, 255, .1), transparent);
   overflow-x: hidden;
   overflow-y: auto;
}

#subjects::-webkit-scrollbar {
   width: 10px;
}

#subjects::-webkit-scrollbar-thumb {
   background-color: darkgray;
   outline: 1px solid slategray;
   border-radius: 5px;
}

#subjects > .item {
   display: grid;
   grid-column-gap: 10px;
   grid-template-columns: 30px 30px 740px 30px 30px;
   padding: 5px 0;
   max-width: 900px;
   border-bottom: dotted 1px #555;
}

#subjects > .item > .chevron-right {
   background-image: url("../../images/chevron-right.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 90%;
   cursor: pointer;
}

#subjects > .item > .chevron-down {
   background-image: url("../../images/chevron-right.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 90%;
   transform: rotate(90deg);
   cursor: pointer;
}

#subjects > .item > .is-focus {
    border-radius: 4px;
    background-image: url("../../images/star.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

#subjects > .item > .title-edit {
   border-radius: 3px;
   border-style: none;
   outline: none;
   font-size: 20px;
   padding: 0 0 0 6px;
   background-color: #DDD;
   height: 36px;
}

#subjects > .item > .edit-btn {
   background-image: url("../../images/edit.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 65%;
   cursor: pointer;
}

#subjects > .item > .delete-btn {
   background-image: url("../../images/trash.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 65%;
   cursor: pointer;
}

#subjects > .item > .save-btn {
   background-image: url("../../images/check.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 65%;
   cursor: pointer;
}

#subjects > .item > .cancel-btn {
   background-image: url("../../images/cancel.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 65%;
   cursor: pointer;
}